* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./brick\ background.jpg);


}

header {
    max-width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    background-image: url(./abstract-dark-wood-lo-2560x1440.jpg);
    border-bottom: solid 10px brown;



}

header h1 {
    width: 30%;
    margin-left: 2rem;
    font-family: 'Smythe', cursive;
    font-size: 5rem;
    color: gold;


}

nav {
    width: 60%;
    font-family: 'Smythe', cursive;


}


ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 3rem;
    padding-top: 1%;

}

a {
    color: bisque;

}

main {
    padding: 5%;
    margin: 5%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    background-color: bisque;
    border: solid 10px brown;
    border-radius: 2rem;

}


.sub-title {
    width: 20%;
    border-right: 5px solid black;
    font-family: 'Roboto', sans-serif;
    padding-right: 2%;
    font-size: 2.5rem;

}




.main-content {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about div {
    width: 30%
}

h2 {
    margin-left: 3rem;
}

img {
    margin-bottom: 0;
    border: solid 10px brown;
    border-radius: 2rem;


}

#p-pic {
    margin-top: 5rem;
}

p {
    font-family: 'Bentham', serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about div img {
    width: 100%;
}

.project {
    width: 45%;
    margin: 1%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    transition: transform .2s;
    background-color: brown;


}

.project:first-child {
    min-height: 400px;
    flex-basis: 95%;

}


#project {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project:hover {
    transform: scale(1.5);
}

.project a img {
    width: 95%;
    height: 90%;
}

.p-title {
    font-size: 1.5rem;
    color: bisque;
}

.last-a {
    color: black
}



#c-list {
    justify-content: space-between center;
    font-size: 2rem;
    color: black;
    align-items: center;

}




/*
font-family: 'Bentham', serif;
font-family: 'Alkatra', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/